<!DOCTYPE html>
<html lang="en">
  
<head>
  <%- include('../layout/head') %>
</head>

<body>

  <!-- Header -->
  <%- include('../layout/header') %>
  
  <!-- Main -->
  <main>

    <h4>Saved Books</h4>
    <p><%= books.length %> books in the Collection</p>
    <ul id="book-list">
      <% books.forEach(book => { %>
        <li class="book-items" data-book-id="<%= book.id %>">
          <%- include('books/detail', {book: book}) %>
          <p class="detail-button"><a href="/books/<%= book.id %>">View Details</a></p>
        </li>
      <% }) %>
    </ul>

  </main>

  <!-- Footer -->
  <%- include('../layout/footer') %>

</body>
</html>